*{
    margin: 0px;
    padding:0px;
}


footer{
    width: auto;
}
#upper{
    width: auto;
    height:100%
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:#808080;
float: none;
}

h1{
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.smartBox p, #media{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 60vw;
}

.bi{
    position:absolute;
    color: #fff;
    background: none;
    font-size: 4em;
    top: 30vh;
}

#showLeft{
left:1.5vw;
}

#showRight{
right:1.5vw;
}

#media{
    height : 60vh;
}

#buttonBox{
    list-style: none;
    height:12vh;
    margin : 5px 5px 5px 5px;
    overflow: hidden;
    clear: both;
    display: inline-block;
}

#lineMedia{
    float:left;
    height: 11vh;
    overflow: hidden;
    margin : 5px 5px 5px 5px;
    width:11vh;
}



.buttonMedia{
    margin: auto;
    position: relative;
    cursor: pointer;
    background: #000;
    border: 2px solid #222;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #222;
    opacity:0.75;
}

.buttonMedia:hover{
    box-shadow: 5px 5px 5px #555;
    opacity:1;
}

@media screen and (max-width:800px)
{
    #buttonBox{
        height:8vh;

    }
    #lineVideo{
        height:6vh;
        width:6vh;
    }
    .buttonMedia{
        height:5vh;
        width:5vh;
    } 
}

@media screen and (min-width:800px)
{
    .buttonMedia{
        height:10vh;
        width:10vh;
    }
   
}



/*Gerer les boutons et l'affichage dans le document*/
.smartBox{
    margin:0px auto;
    padding:0px auto;
}

#description{
    opacity: 1;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}





